.navBar-container {
  background-color: #094165;
  border: 3px solid #062c44;
  width: 98%;
  box-shadow: -3px 3px 15px black;
}

img {
  width: auto;
  height: 3em; 
  border-radius: 5px;
}
.icon-init {
  border: 2px solid #062c44;
}


button {
   width: auto;
   height: auto;
   background-color: transparent;
   border-color: transparent;
 }

.dropdown-content {
  display: none;
  position: absolute;
  left: 15%;
  overflow: auto;
  background-color: #FFFFFF;
  border-radius: 15px;
  outline: 2px solid #052031;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #062c44;
  outline: 2px solid #052031;
}