.root {
  text-align: center;
}

.container-body {
  display: flex;
  width: 100%;
  height: 92vh;
  min-height: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content1{
  min-width: 350px;
  background: linear-gradient(to left, #c9d6ff9d, #e2e2e2ab);
  box-shadow: 7px 7px 10px;
  outline: 4px solid #052133;
  flex-direction: column;
  border-radius: 0.5pc;
  z-index: 500;
  padding: 15px 10px;
  margin: 0 0 20px;
}

.flexForm { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30vmax;
  min-width: 300px;
  align-items: flex-start;
  padding: 10px;
}

.inputLogin, .inputRecover {
  width: 100%;
  border-radius: 7px;
  font-size: 3vmin;
  padding: 5px;
  border: 2px solid black;
}

.loginLabel {
  text-align: left;
  font-size: 4.6vmin;
}

.button {
  margin: 10px auto;
  background-color: #094165;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 7px;
  margin: 20px 0px 0px;
  border: 3px solid #052133;
  border-radius: 10px;
  font-size: 4vmin;
  font-weight: 600;
}

.button:hover {
  background-color: rgb(32, 98, 136); 
}

/*Content 2*/

.content2{
  background: linear-gradient(to left, #c9d6ff9d, #e2e2e2ab);
  border: 4px solid #094165;
  box-shadow: 5px 5px 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  font-size: 4.4vmin;
  margin-top: -40px;
}

.buttonOptions {
  width: 100%;
  background-color: rgba(107, 105, 105, 0.137);
  padding: 7px;
  font-weight: 600;

}

.buttonOptions:hover {
  background: #4d7b97;
  border: 2px solid #094165;
}

.warnings {
  display: block;
  /* width: 200px; */
  text-align: center;
  margin: auto;
  color: rgb(122, 14, 14);
  font-size: 1vmax;
  font-weight: 600;
}

/*Form Register*/
#registerContainer {
  width: 100%;
  font-size: 4.3vmin;
}

#formRegister {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.inputRegister {
  border: 2px solid black;
  border-radius: 7px;
  padding: 3px;
  font-size: 2vmin;
  margin-bottom: 5px;
}

.registerLabel {
  font-weight: 600;
  font-size: 1.6vmax;
}

/*Form Recover Password*/

#recoverPassword {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 4vmin;
}

.recoverLabel {
  padding: 15px 0px;
}

/*Quitar flechas*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.okay {
  border: 4px solid rgba(10, 80, 10, 0.89);
}

.error {
  border: 4px solid rgba(122, 14, 14, 0.836);
}

.fail {
  width: 100%;
  color: rgb(122, 14, 14);
  background-color: rgba(122, 14, 14, 0.377);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.successful {
  width: 100%;
  color: rgb(8, 61, 8);
  background-color: rgba(10, 80, 10, 0.493);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}