.div-preoload{
    position: relative;
    padding: 1%;
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    justify-content: space-around;
  }
  
  
   .preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }